.DS_Store
node_modules/
dist/
/packages/backend/test-results/
/packages/backend/playwright-report/
/packages/backend/blob-report/
/packages/backend/playwright/.cache/

.env
.eslintrc-auto-import.json
auto-imports.d.ts
components.d.ts
